<!DOCTYPE html>
<html lang="en">
<head>
<title>About</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="shirley">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- shirley-css -->
<link href="css/shirley.css" rel="stylesheet" type="text/css" media="all">
<!--// shirley-css -->
<!-- css -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<!--// css -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- font -->
<link href='https://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>	
    <link href="video-js/video-js.css" rel="stylesheet" type="text/css">

 <script src="video-js/video.js"></script>

 <script>

   videojs.options.flash.swf = "video-js/video-js.swf";

 </script>
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
</head>

<body>
	<!-- header -->
	<div class="header">
		<div class="top-header">
			<div class="container">
				<div class="top-header-info">
					<div class="top-header-left wow fadeInLeft animated" data-wow-delay=".5s">
						<p>More than 10 new destinations for your trip</p>
					</div>
					<div class="top-header-right wow fadeInRight animated" data-wow-delay=".5s">
						<div class="top-header-right-info">
							<ul>
								<li><a href="login.html">Login</a></li>
								<li><a href="signup.html">Sign up</a></li>
							</ul>
						</div>
						<div class="social-icons">
							<ul>
								<li><a class="twitter" href="https://twitter.com/?lang=zh"><i class="fa fa-twitter"></i></a></li>
								<li><a class="twitter facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
								<li><a class="twitter google" href="https://plus.google.com/about?hl=zh"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="bottom-header">
			<div class="container">
				<div class="logo wow fadeInDown animated" data-wow-delay=".5s">
					<h1><a href="index.html"><img src="images/2LOGO.jpg" alt="LOGO"></a></h1>
				</div>
				<div class="top-nav wow fadeInRight animated" data-wow-delay=".5s">
					<nav class="navbar navbar-default">
						<div class="container">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu						
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="index.html">Home</a></li>
								<li><a href="about.html" class="active">About</a></li>
								<li><a href="plan.html">plan</a></li>
								<li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a class="hvr-bounce-to-bottom" href="gallery1.html">Gallery1</a></li>
										<li><a class="hvr-bounce-to-bottom" href="gallery2.html">Gallery2</a></li>          
									</ul>
								</li>	
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>	
							<div class="clearfix"> </div>
						</div>	
					</nav>		
				</div>
			</div>
		</div>
	</div>
	<!-- //header -->
	
	<!-- about -->
	<div class="about">
		<div class="about-heading">
			<div class="container">
				<h2 class="wow fadeInDown animated" data-wow-delay=".5s">About</h2>
				<p class="wow fadeInUp animated" data-wow-delay=".5s"></p>
                </div>
		</div>
        </div>
		<div class="about-top">
			<div class="container">
				<div class="about-bottom">
                   
					<img class="wow fadeInUp animated" data-wow-delay=".5s" src="images/011.jpg" alt="">
					<p class="wow fadeInUp animated" data-wow-delay=".5s">Beijing Imperial Palace is a royal palace of the Ming and Qing dynasties in China. It was formerly known as the Forbidden City and is located in the center of the central axis of Beijing. It is the essence of Chinese ancient palace architecture. The Beijing Imperial Palace is centered around the three main halls. It covers an area of 720,000 square meters and has a building area of about 150,000 square meters. There are more than 70 palaces and palaces and more than 9,000 houses. It is one of the largest and most complete preserved wooden structures in the world.</p>
				</div>
			</div>
		</div>
		
		<!-- culture -->
		<div class="culture">
			<div class="container">
				<div class="popular-heading culture-heading">
					<h3 class="wow fadeInUp animated" data-wow-delay=".5s">Culture</h3>
					<p class="wow fadeInUp animated" data-wow-delay=".5s">Chinese culture is a culture based on the Chinese civilization and fully integrated across the country’s various regions and ethnic cultures. Unlike the international property of Chinese culture, it can be called "Chinese culture" (the culture of the People's Republic of China). The Eastern civilization system, which is deeply influenced by Chinese civilization, is called the "Han Culture Circle," which refers specifically to social ideology and reflects the development level of social politics, economy, and science and technology. From the invention and creation of the Paleolithic Age to Kang Youwei's reform of Liang Qichao's reform to Sun Yat-sen's democratic revolution, both were the impetus for the advancement of society.</p>
				</div>
				<div class="culture-grids">
					<div class="col-md-4 culture-grid wow fadeInLeft animated" data-wow-delay=".5s">
						<img src="images/12.jpg" alt="kirigami">
						<h4>kirigami</h4>
						<p>Paper-cut art is one of the oldest folk arts in China. As a hollow art, it can give people a sense of emptiness and artistic enjoyment. With a pair of scissors and a piece of paper, you can express various emotions in your life. Every festival or wedding celebration, people use bright and colorful paper-cut arrangements to enhance the atmosphere.</p>
						<div class="social-icons culture-icons">
							<ul>
								<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 culture-grid wow fadeInUp animated" data-wow-delay=".5s">
						<img src="images/19.jpg" alt="Peking opera">
						<h4>Peking opera</h4>
						<p>Beijing Opera is one of the five major plays in China. It is governed by Sipi and the Second Emperor. Accompanied by Huqin and Drum, it is regarded as the essence of the Chinese nation. Peking opera has traveled the world and has become an important medium for the dissemination of traditional Chinese art and culture.</p>
						<div class="social-icons culture-icons">
							<ul>
								<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 culture-grid wow fadeInRight animated" data-wow-delay=".5s">
						<img src="images/15.jpg" alt="the four treasures in a Chinese study">
						<h4> the four treasures in a Chinese study</h4>
						<p>The instrumental instruments in ancient Chinese traditional culture are pen, ink, paper, and ink. The name of the four treasures of the scriptures originated from the Southern and Northern Dynasties. In history, the "four treasures of the text" pointed out that things have changed.</p>
						<div class="social-icons culture-icons">
							<ul>
								<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //culture -->
	</div>
	<!-- //about -->
	
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-nav wow fadeInLeft animated" data-wow-delay=".5s">
					<h4>Navigation</h4>
					<ul>
						<li><a href="about.html">About</a></li>
						<li><a href="gallery1.html">Gallery</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-5 footer-nav wow fadeInUp animated" data-wow-delay=".5s">
					<h4>Newsletter</h4>
					<p>Fill in your email address here, you can contact us</p>
					<form>
						<input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email here" required="">
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="col-md-4 footer-nav wow fadeInRight animated" data-wow-delay=".5s">
					<h4>Latest News</h4>
					<div class="news-grids">
						<div class="news-grid">
							<h6>09/01/2018 : <a href="about.html">Cultural news</a></h6>
							<h6>13/07/2017 : <a href="plan.html">Entertainment News</a></h6>
							<h6>13/02/2018 : <a href="single.html">Beijing News</a></h6>
							<h6>28/11/2017 : <a href="gallery1.html">Travel news</a></h6>
							<h6>19/01/2018 : <a href="index.html">Life News</a></h6>
							<h6>23/02/2018 : <a href="gallery2.html">Food News</a></h6>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="copyright wow fadeInUp animated" data-wow-delay=".5s">
				<p>Copyright &copy; 2019.This is creat by QIAN XU <a href="http://index.html/" target="_blank" title="China Travel">shirley</a> - Collect from <a href="http://index.html/" title="China Travel" target="_blank">shirley</a></p>
			</div>
		</div>
	</div>
	<!-- //footer -->
</body>	
</html>