<!DOCTYPE html>
<html lang="en">
<head>
<title>Single</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="shirley">
    <script>addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- shirley-css -->
<link href="css/shirley.css" rel="stylesheet" type="text/css" media="all">
<!--// shirley-css -->
<!-- css -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<!--// css -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- font -->
<link href='https://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
</head>	

<body>
	<!-- header -->
	<div class="header">
		<div class="top-header">
			<div class="container">
				<div class="top-header-info">
					<div class="top-header-left wow fadeInLeft animated" data-wow-delay=".5s">
						<p>More than 10 new destinations for your trip</p>
					</div>
					<div class="top-header-right wow fadeInRight animated" data-wow-delay=".5s">
						<div class="top-header-right-info">
							<ul>
								<li><a href="login.html">Login</a></li>
								<li><a href="signup.html">Sign up</a></li>
							</ul>
						</div>
						<div class="social-icons">
							<ul>
								<li><a class="twitter" href="https://twitter.com/?lang=zh"><i class="fa fa-twitter"></i></a></li>
								<li><a class="twitter facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
								<li><a class="twitter google" href="https://plus.google.com/about?hl=zh"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="bottom-header">
			<div class="container">
				<div class="logo wow fadeInDown animated" data-wow-delay=".5s">
					<h1><a href="index.html"><img src="images/2LOGO.jpg" alt="LOGO"></a></h1>
				</div>
				<div class="top-nav wow fadeInRight animated" data-wow-delay=".5s">
					<nav class="navbar navbar-default">
						<div class="container">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu						
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="index.html" class="active">Home</a></li>
								<li><a href="about.html">About</a></li>
								<li><a href="plan.html">plan</a></li>
								<li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a class="hvr-bounce-to-bottom" href="gallery1.html">Gallery1</a></li>
										<li><a class="hvr-bounce-to-bottom" href="gallery2.html">Gallery2</a></li>          
									</ul>
								</li>	
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>	
							<div class="clearfix"> </div>
						</div>	
					</nav>		
				</div>
			</div>
		</div>
	</div>
	<!-- //header -->
		
		<!-- blog -->
		<div class="blog">
				<!-- container -->
				<div class="container">
					<div class="col-md-8 blog-top-left-grid">
						<div class="left-blog left-single">
							<div class="blog-left">
								<div class="single-left-left wow fadeInUp animated" data-wow-delay=".5s">
									<p>Posted By <a href="#">shirley</a> &nbsp;&nbsp; on June 2, 2017 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
									<img src="images/74.jpg" alt="" />
								</div>
								<div class="blog-left-bottom wow fadeInUp animated" data-wow-delay=".5s">
									<P>Beijing is the world’s largest city with seven (7) world heritage sites and is the world’s first capital city with a global geopark. Beijing has more than 200 tourist attractions open to the outside world, including the world’s largest imperial palace, the Forbidden City, the Temple of Heaven, the Royal Garden Beihai Park, the Summer Palace, and the Yuanmingyuan Garden. The Badaling Great Wall, the Mutianyu Great Wall, and the world’s largest siheyuan The palace and other places of interest. Beijing has a total of 7,309 cultural relics and historic sites, 99 national key cultural relics protection units (including Beijing section of the Great Wall and Beijing-Hangzhou Grand Canal), 326 municipal cultural relics protection units, 5 national geological parks, and 15 national forest parks.
									</P>
								</div>
								<div class="blog-left-bottom left-bottom wow fadeInUp animated" data-wow-delay=".5s">
									<h1>Custom products</h1><P>
Beijing is one of the four ancient capitals of China. There are many local customs: Beijing snacks, Peking opera, Beijing rhyme drums, comic dialogues, stage dramas, iron plates, cloisonne, tooth carvings, monkeys, lacquer carvings, celluloids and baskets, sugar candies, and pasta noodles. Wait.
									</P>
								</div>
								<div class="blog-left-bottom left-bottom wow fadeInUp animated" data-wow-delay=".5s">
									<h2>Shopping district</h2><P>
Beijing is the only Mainland city to be selected as one of the top 15 shopping centers in the world and has more than 100 large and medium-sized shopping malls. Wangfujing Street, Qianmen Dashilan and Xidan Commercial Street are Beijing's traditional business districts; China World Shopping Mall, Oriental Xintiandi and Zhongguancun Plaza. The Old City of Liulichang or Panjiayuan has a variety of antiques. Xiushui Street and Yaxiu apparel wholesale market sell all kinds of clothing. Cloisonne, jade, and silk embroidery have a long history; folk arts and crafts, such as clay figurines, Beijing opera masks, kites, and paper-cuts, can be used as gifts for relatives and friends.
									</P>
								</div>
							</div>
							<div class="response wow fadeInUp animated" data-wow-delay=".5s">
								<h3>Responses</h3>
								<div class="media response-info">
									<div class="media-left response-text-left">
										<a href="#">
											<img class="media-object" src="images/76.jpg" alt="">
										</a>
										<h5><a href="#">billy</a></h5>
									</div>
									<div class="media-body response-text-right">
										<p>I like the Beijing snacks and the ancient culture. I often go on holiday occasionally, going to Beijing for sightseeing and tasting food.</p>
										<ul>
											<li>June 21, 2017</li>
											<li><a href="single.html">Reply</a></li>
										</ul>
										<div class="media response-info">
											<div class="media-left response-text-left">
												<a href="#">
													<img class="media-object" src="images/75.jpg" alt="">
												</a>
												<h5><a href="#">shirley</a></h5>
											</div>
											<div class="media-body response-text-right">
												<p>I live in Beijing from childhood to childhood. I love everything here. The scenery, culture, and architecture here are all very good. Nowadays, Beijing has become more and more interested in the development and transportation. All kinds of quick travel tools, as well as technology is also very developed, nothing to worry about.</p>
												<ul>
													<li>July 25, 2017</li>
													<li><a href="single.html">Reply</a></li>
												</ul>		
											</div>
											<div class="clearfix"> </div>
										</div>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="media response-info">
									<div class="media-left response-text-left">
										<a href="#">
											<img class="media-object" src="images/77.jpg" alt="">
										</a>
										<h5><a href="#">Andy</a></h5>
									</div>
									<div class="media-body response-text-right">
										<p>I also liked everything in Beijing. However, there is one thing that is not good. The air here is often hazy, because I often go to Beijing to take a movie. Sometimes the sand will always bother me.</p>
										<ul>
											<li>June 21, 2016</li>
											<li><a href="single.html">Reply</a></li>
										</ul>		
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							
							<div class="opinion">
								<h2 class="wow fadeInUp animated" data-wow-delay=".5s">Leave Your Comment</h2>
								<form>
									<input class="wow fadeInLeft animated" data-wow-delay=".5s" type="text" placeholder="Name" required="">
									<input class="wow fadeInRight animated" data-wow-delay=".5s" type="text" placeholder="Email" required="">
									<textarea class="wow fadeInLeft animated" data-wow-delay=".5s" placeholder="Message" required=""></textarea>
									<input class="wow fadeInRight animated" data-wow-delay=".5s" type="submit" value="SEND">
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-4 blog-top-right-grid">
						<div class="Categories wow fadeInUp animated" data-wow-delay=".5s">
							<h3>Categories</h3>
							<ul>
								<li>
                                <a href="about.html">CULTURE</a>
                                </li>
								<li>
                                <a href="gallery1.html">ART</a>
                                    </li>
								<li>
                                <a href="gallery2.html">GOURMET CUISINE</a>
                                </li>
								<li>
                                <a href="plan.html">MUSIC</a>
                                </li>
								<li>
                                <a href="plan.html">MOVIE</a>
                                </li>
								<li>
                                <a href="index.html">LANDSCAPE</a>
                                </li>
							</ul>
						</div>
						<div class="Categories wow fadeInUp animated" data-wow-delay=".5s">
							<h3>Archive</h3>
							<ul class="marked-list offs1">
								<li><a href="signup.html">May 2018 (7)</a></li>
								<li><a href="plan.html">April 2018 (11)</a></li>
								<li> <a href="about.html">March 2018 (12)</a></li>
								<li><a href="index.html">February 2018 (14)</a> </li>
								<li><a href="single.html">January 2018 (10)</a></li>    
								<li><a href="gallery2.html">December 2017 (12)</a></li>
								<li><a href="gallery1.html">November 2017 (8)</a></li>
								<li><a href="about.html">October 2017 (7)</a> </li>
								<li><a href="gallery1.html">September 2017 (8)</a></li>
								<li><a href="blog.html">August 2017 (6)</a></li>                          
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!-- //container -->
		</div>
		<!-- //blog -->
		
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-nav wow fadeInLeft animated" data-wow-delay=".5s">
					<h4>Navigation</h4>
					<ul>
						<li><a href="about.html">About</a></li>
						<li><a href="gallery1.html">Gallery</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-5 footer-nav wow fadeInUp animated" data-wow-delay=".5s">
					<h4>Newsletter</h4>
					<p>Fill in your email address here, you can contact us</p>
					<form>
						<input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email here" required="">
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="col-md-4 footer-nav wow fadeInRight animated" data-wow-delay=".5s">
					<h4>Latest News</h4>
					<div class="news-grids">
						<div class="news-grid">
							<h6>09/01/2018 : <a href="single.html">Cultural news</a></h6>
							<h6>13/07/2017 : <a href="single.html">Entertainment News</a></h6>
							<h6>13/02/2018 : <a href="single.html">Beijing News</a></h6>
							<h6>28/11/2017 : <a href="single.html">Hong Kong and Macau News</a></h6>
							<h6>19/01/2018 : <a href="single.html">Life News</a></h6>
							<h6>23/02/2018 : <a href="gallery2.html">Food News</a></h6>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="copyright wow fadeInUp animated" data-wow-delay=".5s">
				<p>Copyright &copy; 2019.This is creat by QIAN XU  <a href="http://index.html/" target="_blank" title="China Travel">shirley</a> - Collect from <a href="http://index.html/" title="China Travel" target="_blank">BaiDu</a></p>
			</div>
		</div>
	</div>
	<!-- //footer -->
</body>	
</html>